.gameCard {
  border-radius: 10px;
  height: 100%;
  border: none;
  overflow: hidden;


  .cardImgBlock {
    position: relative;

    .icons {
      color: #fff;
      position: absolute;
      background-color: rgba(20, 20, 27, 0.7);
      border-top-left-radius: 10px;

      svg {
        margin: 0 5px;
      }
    }

    .cardImg {
      object-fit: cover;
      height: 250px;

      &.isGamesPage {
        height: 400px;
      }
    }

    .ratingBlock {
      position: absolute;
      left: 15px;
      bottom: 15px;
      backdrop-filter: blur(10px);
      line-height: 1;
      padding: 0.2rem;
      border-radius: 5px;
    }
  }

  .gameCardBody {
    display: flex;
    flex-direction: column;
  }

  .stars {
    color: #fbe562;
    text-align: left;
    font-size: 12px;
    padding-left: 5px;
  }
}