.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #ffffff;

  &.withBg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #808080;
  }
}